main {
  width: 90%;
  margin: auto;
}

.itemDiv {
  height: 200px;
  width: 200px;
  border: 1px solid black;
  display: inline block;
  margin: 6px;
  /* display:flex; flex-direction:row; */
  border-radius: 5px;
  padding: 10px;
}
p {
  text-align: center;
}